<!-- Debut -->
<section class="page-section" id="debut">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="carouselExampleControls" class="carousel slide carou_style" data-ride="carousel">
                    <div class="carousel-inner">
                    <div class="carousel-item active" style="height: 50vh;" data-interval= "10000">
                        <blockquote>
                        <p style="color:grey; font-size: 1.9em; font-family: 'Courier New', Courier, monospace, serif; text-align: center;">"You must unite behind the science. You must take action. You must do the impossible. Because giving up can never ever be an option." </p>
                        <footer class="text-right" style="color:grey;" ><i>Greta Thunberg</i><br>
                        <cite style="color:grey;"><i>US Congress, Washington DC (2019)</i></cite>
                        </footer>
                    </blockquote>
                    </div>
                    <div class="carousel-item" style="height: 50vh;" data-interval= "10000">
                        <blockquote>
                        <p style="color:grey; font-size: 1.9em; font-family: 'Courier New', Courier, monospace, serif; text-align: center;">"Unite behind the science, that is our demand." </p>
                        <footer class="text-right" style="color:grey;" ><i>Greta Thunberg</i><br>
                        <cite style="color:grey;"><i>European Economic and Social Committee (2019)</i></cite>
                        </footer>
                    </blockquote>
                    </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </a>
                </div>
        </div>
    </div>
</section>
