<!-- Services -->
  <section class="page-section" id="{{ site.data.sitetext.services.section | default: "services" }}">
    <div class="container">
      
      <blockquote>
        <p style="color:gray; font-size: 1.9em; font-family: 'Courier New', Courier, monospace, serif; text-align: center;">"You must unite behind the science. You must take action. You must do the impossible. Because giving up can never ever be an option." </p>
        <footer class="text-right" style="color:gray;" ><i>Greta Thunberg</i><br>
         <cite style="color:gray;"><i>US Congress, Washington DC (2019)</i></cite>
       </footer>
     </blockquote>

     <!--<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="..." alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="..." alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="..." alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div> -->

     <br>
     <br>
     <br>
      <div class="row">
        <div class="col-lg-12 text-center class1">
          <h2 class="section-heading text-uppercase">A "hot" problem...</h2>
          <br>
          <div class="col-md-12">
            <div class="image-wrapper float-right pr-3">
                <img src= assets/img/other/earth.jpg style = "width: 200px; margin-left: 30px; margin-bottom: 30px; margin-top: 30px;">
            </div>
          </div>
          <p>
            Climate change is a problem that concern everyone. Recent studies show that the Earth has globally warmed of 1.1°C compared to the mean value at the pre-industrial period. This value is predicted to increase of 3 to 5 degress more until 2100. The Global Humanitarian Forum estimated, in 2009, that the number of death due to climate change was about 300 000 per year. They also estimated that it could grow up to 500 000 deaths a year in 2030.
          </p>
          <p>
            To move things faster, some personnalities are starting to raise their voices to make the world change. One of them appeared for the first time in the media in August 2018 with the first school climate strike in Sweden. This person is nobody else than Greta Thunberg. And since then, she did appear multiple times in the front row of the fight against global warming, demanding different politicians to move faster.
          </p>
          <p>
            However, even though her image and her thoughts were widely spread in the media, did the people really listened to her reclamation ? Did they become more interested by the topic? Did she made, indeed, people more aware that they needed to find out more about climate change?
          </p>
          <p>
            Through this data analysis, we aimed at showing the impact Greta's mediatic appearance did influence habits of Wikipedia users. Do people now have a higher tendancy to get information about the subject, does she have any impact?"
          </p>

          <p>
          The chosen datas were number of pageviews of Wikipedia grouped by month. The study aims at showing if specific given event where Greta did appear mediatically changed the Wikipedia users habits.
          The first part of the study looked at usual Wikipedia pages; a dataset of climate change related pages and a dataset of most popular pages. The second part dig even deeper by studying if people are really going to look into more theoretical information. It then compares scientific article of Wikipedia concerning climate change or anyother science related article. 
          </p>
        </div>
      </div>

	  
    </div>
  </section>
  <style>
    .class1 p{
      color:black;
      text-align:justify;
      font-size: 0.8em;
    }
  </style>
<!-- End Services -->