<!-- Services -->
  <section class="page-section" id="{{ site.data.sitetext.services.section | default: "services" }}">
    <div class="container">     
      <div class="row">
        <div class="col-lg-12 text-center class1">
          <h2 class="section-heading text-uppercase">A "hot" problem...</h2>
          <br>
          <div class="col-md-12">
            <div class="image-wrapper float-right pr-3">
                <img src= assets/img/other/earth.jpg style = "width: 200px; margin-left: 30px; margin-bottom: 30px; margin-top: 30px;">
            </div>
          </div>
          <p>
            Climate change is a problem that concerns everyone. Recent studies show that the Earth has globally warmed of 1.1°C compared to the mean value at the pre-industrial period. This value is predicted to increase of 3 to 5 degress more until 2100. The Global Humanitarian Forum estimated, in 2009, that the number of death due to climate change was about 300 000 per year. They also estimated that it could grow up to 500 000 deaths a year in 2030.
          </p>
          <p>
            To move things faster, some personnalities are starting to raise their voices to make the world change. One of them appeared for the first time in the media in August 2018 with the first school climate strike in Sweden. This person is nobody else than Greta Thunberg. And since then, she did appear multiple times in the front row of the fight against global warming, demanding different politicians to move faster.
          </p>
          <p>
            However, even though her image and her thoughts were widely spread in the media, did the people really listen to her reclamations ? Did they become more interested in the topic ? Did she make, indeed, people more aware that they needed to get more educatde about climate change?
          </p>
          <p>
            Through this data analysis, we aimed at showing the impact Greta's mediatic appearance had on the  habits of Wikipedia users. Do people now have a higher tendancy to get information about the subject, did she make a difference ?
          </p>

          <p>
            The chosen data were the number of pageviews of Wikipedia grouped by month. The study aims at showing if specific events where Greta did appear mediatically changed the Wikipedia users habits. The first part of the study looked at usual Wikipedia pages; a dataset of climate change related pages compared to a dataset of the most popular pages. The second part digs even deeper by studying if people are really looking into more scientific information. To that effect, it compares Wikipedia scientific articles concerning climate change to any other science related article.
          </p>
        </div>
      </div>

	  
    </div>
  </section>
  <style>
    .class1 p{
      color:black;
      text-align:justify;
      font-size: 0.8em;
    }

    .carousel-control-next,
    .carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
        }
    .carou_style{
      background-color: white
    }

  </style>
<!-- End Services -->