<!-- About -->
  <section class="page-section" id="{{ site.data.sitetext.timeline.section | default: "about" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12  class1">
          <h2 class="section-heading text-uppercase text-center">Methodology</h2>
          <p>
            To see this empowering effect, interrupted time series analysis (ITS) has been used. The selected interest period depends on the choice of events that will be the pivots of the interrupted time series analysis. Values are studied between January 2018 and February 2020. Indeed, they are not extended further as the Covid-19 pandemic might have influenced the pageviews a lot. The important pivots events are three major action that Greta Thunberg took part in and that were highly mediatized.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
      {%- assign align = site.data.sitetext.timeline.start_align -%}
      {%- for event in site.data.sitetext.timeline.events -%}
            {%- if align == "right" -%}
              {%- if event.align and event.align == "left" -%}
                {%- assign align = "right" -%}
                <li>
              {%- else -%}
                {%- assign align = "left" %}
                <li class="timeline-inverted">
              {% endif %}
            {% else %}
              {%- if event.align and event.align == "right" -%}
                {%- assign align = "left" -%}
                <li class="timeline-inverted">
              {%- else -%}
                {%- assign align = "right" %}
                <li>
              {% endif %}
            {%- endif -%}
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{{ event.image }}" alt="{{ event.alt | default: ""}}">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 style="font-size: 1.1em;">{{ event.year | markdownify }}</h4>
                  <h4 class="subheading">{{ event.title }}</h4>
                </div>
                <div class="timeline-body">
                  <div class="text-muted" style="font-size: 1.2em;">{{ event.desc | markdownify }}</div>
                </div>
                <div class="timeline-body">
                  <a href="{{event.url}}" class="text-muted">{{ event.url | markdownify }}</a>
                </div>
              </div>
            </li>
		  {% endfor %}	
            
		  {% if site.data.sitetext.timeline.end %}	
			<li class="timeline-inverted">
              <div class="timeline-image">
                <h4>{{ site.data.sitetext.timeline.end }}</h4>
              </div>
            </li>
		  {% endif %}

          </ul>
        </div>
      </div>
    
    <br>
    <br>
    <div class="col-lg-12  class1">
      <p>
        In the replicated publication, the terrorism articles are compared to another quasi-control group. This group is made or security related articles that would arguably not be affected by the treatment but are similar enough in terms of topic to be used as a control group. To be able to reproduce this method in our context, we need a group of articles that are likely to be affected by the treatment, namely that people would consult them more because of the mediatic movement around Greta Thunberg and climate change. We also need a second group of articles that are similar to the first group such that any external bias would appear in both and therefore cancel out at comparison. It should also not be affected by the treatment, namely not be related to climate change issues.
      </p>
      <p>
        It is not straight forward to find a second group that would be used along with the first corpus that we considered, the corpus of the climate change related articles plotted above because this group is already quite broad. To paliate to this problem, we restrained ourselves to scientific articles chosen in wikipedia index of articles randomly. The first group was selected randomly in a list of scientific articles on topics likely to be related to climate change (biodiversity, energy, meteo, pesticides, earth). The second group was selected randomly in a list of scientific articles on topics not related to climate change (anatomy, genetics, optics, philosophy, social). This pick has the advantage of showing if the public reads on scientific articles, which would confirm the hypothesis that people were encouraged to get educated on the topic of climate change.
      </p>
      <p>
        In the end, we have 4 groups – two different treatment groups that will be compared to 2 different comparators separately.
      </p>
      </p>
      <p>
        All data were retrieved from:
      </p>
      <ul class="list-inline quicklinks">
        <li class="list-inline-item">
          <a href=https://pageviews.toolforge.org/pageviews/>Wikipedia pageviews</a>
        </li>
      </ul>
    </div>
  
    </div>
  </section>

  <style>
    .class1{
      color:black;
      text-align:justify;
      font-size: 0.8em;
    }
  </style>
<!-- End About -->
