<!-- About -->
  <section class="page-section" id="{{ site.data.sitetext.timeline.section | default: "about" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12  class1">
          <h2 class="section-heading text-uppercase text-center">Methodology</h2>
          <p class="text-uppercase">
              <b>Replicated study</b>
          </p>
          <p>
            The data analysis performed here is following the same method as the study of Jonathon Penney: <a href=https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2769645>"Chilling effects: Online surveillance and Wikipedia use"</a> conducted in 2016. 

            In his study, J. Penney aims at providing evidences of the online government surveillance impact over Wikipedia users researches. In order to study their impact, they looked at possible apparition of chilling effects (defined as the inhibition or discouragement of the exercise of legal rights by the threat of a legal sanction). To study those effects, they explored how the Wikipedia pageviews on topics that raise privacy concerns changed after an "exogeneous shock", here the <a href=https://en.wikipedia.org/wiki/Global_surveillance_disclosures_(2013%E2%80%93present)>NSA/PRISM surveillance revelations</a> of June 2013. They hypothesized, based on the chilling effects theory, that Internet users will be less likely to view articles on those specific topics after being aware of online monitoring. Even if Wikipedia is the main focus in this study, they also looked at how people seek and access information and knowledge online more generally through crowdsourcing.
          </p>
          <p>
            Their method was the following. First, they chose to study dataset retrieved from English Wikipedia as  it is an influential resource for information and knowledge online. Indeed, over 50% of internet users use it as a source of information. Thus, if governement is chilling people from accessing knowledge about specific topic, it should be sufficiently represented by Wikipedia's data.

            A sample of 48 Wikipedia articles was selected based on the DHS keywords listed as related to "terrorism" (government using this key word as a justification for its online surveillance practices) in a non-random way and without any assumption that people avoid those topics dataset consisted of their pageviews number from January 2012 to August 2014 aggregated on a monthly basis.
          </p>
          <p>
            Once data were retrieved, analysis was done using an interrupted time series (interruption: June 2013, surveillance revelations).
            The following segmented regression analysis allowed the comparison in data levels and trends of the dataset.
          </p>
          
          <p class="text-uppercase">
            <b>The empowering effects - Case study</b>
          </p>
          <p>
            To see the possible empowering effect done by Thunberg's intervention, interrupted time series analysis (ITS) has been used as previously explained. The selected period of interest depends on the choice of events that will be the pivots of the interrupted time series analysis. Values are studied between January 2018 and February 2020. Indeed, they are not extended further as the Covid-19 pandemic might have influenced the pageviews a lot. The important pivots events are three major action that Greta Thunberg took part in and that were highly mediatized.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
      {%- assign align = site.data.sitetext.timeline.start_align -%}
      {%- for event in site.data.sitetext.timeline.events -%}
            {%- if align == "right" -%}
              {%- if event.align and event.align == "left" -%}
                {%- assign align = "right" -%}
                <li>
              {%- else -%}
                {%- assign align = "left" %}
                <li class="timeline-inverted">
              {% endif %}
            {% else %}
              {%- if event.align and event.align == "right" -%}
                {%- assign align = "left" -%}
                <li class="timeline-inverted">
              {%- else -%}
                {%- assign align = "right" %}
                <li>
              {% endif %}
            {%- endif -%}
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{{ event.image }}" alt="{{ event.alt | default: ""}}">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 style="font-size: 1.1em;">{{ event.year | markdownify }}</h4>
                  <h4 class="subheading">{{ event.title }}</h4>
                </div>
                <div class="timeline-body">
                  <div class="text-muted" style="font-size: 1.2em;">{{ event.desc | markdownify }}</div>
                </div>
                <div class="timeline-body">
                  <a href="{{event.url}}" class="text-muted">{{ event.url | markdownify }}</a>
                </div>
              </div>
            </li>
		  {% endfor %}	
            
		  {% if site.data.sitetext.timeline.end %}	
			<li class="timeline-inverted">
              <div class="timeline-image">
                <h4>{{ site.data.sitetext.timeline.end }}</h4>
              </div>
            </li>
		  {% endif %}

          </ul>
        </div>
      </div>
    
    <br>
    <br>
    <div class="col-lg-12  class1">
      <p>
        In the replicated publication, the terrorism articles are compared to another quasi-control group. This group is made or security related articles that would arguably not be affected by the treatment but are similar enough in terms of topic to be used as a control group. To be able to reproduce this method in our context, we need a group of articles that are likely to be affected by the treatment, namely that people would consult them more because of the mediatic movement around Greta Thunberg and climate change. We also need a second group of articles that are similar to the first group such that any external bias would appear in both and therefore cancel out at comparison. It should also not be affected by the treatment, namely not be related to climate change issues.
      </p>
      <p>
        It is not straight forward to find a second group that would be used along with the first corpus that we considered because this group is already quite broad. To paliate to this problem, we restrained ourselves to scientific articles chosen in wikipedia index of articles randomly. The first group was selected randomly in a list of scientific articles on topics likely to be related to climate change (biodiversity, energy, meteo, pesticides, earth). The second group was selected randomly in a list of scientific articles on topics not related to climate change (anatomy, genetics, optics, philosophy, social). This pick has the advantage of showing if the public reads on scientific articles, which would confirm the hypothesis that people were encouraged to get educated on the topic of climate change.
      </p>
      <p>
        In the end, we have 4 groups – two different treatment groups that will be compared to 2 different comparators separately.
      </p>
      </p>
      <p>
        All data were retrieved <a href=https://pageviews.toolforge.org/pageviews/>here</a>.
      </p>
    </div>
    <div class="text-center col-lg-8 offset-lg-2">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col"></th>
            <th scope="col">Treated group</th>
            <th scope="col">Control group</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Case 1</th>
            <td>Common climate-related article</td>
            <td>Most popular article</td>
          </tr>
          <tr>
            <th scope="row">Case 2</th>
            <td>Scientific climate-related article</td>
            <td>Scientific article</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    </div>
  </section>

  <style>
    .class1{
      color:black;
      text-align:justify;
      font-size: 0.8em;
    }
  </style>
<!-- End About -->
